.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 100px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.checkbox {
    user-select: none;

    &_icon {
        width: 20px;
        height: 20px;
        border: solid 1px black;
        display: inline-block;
    }

    &_input {
        display: none;

        &:checked ~ .checkbox_icon {
            background-color: forestgreen;
        }
    }
}

.list {
    margin-top: 50px;
}